<h3>About Me</h3>


<div class="row">
    <div class="col-md-9">
        <p>
            Not much to say here about myself, I am just me. My names are <strong>Adebola Samuel Olowofela</strong> and my nickname is
            <strong>samcrosoft</strong>. I hold a First class degree in computer Science and a masters degree in <strong>IT Security</strong>.
        </p>
        <p>
            I am a vivid and ardent lover of programming, I have been programming since I was 14 and I program in a host of languages, some of them are listed below.
            I work as a <strong>PHP Developer</strong>  and a <strong>MySQL Administrator/Developer</strong> for an organization called Talent Innovations is Kings Langley, United Kingdom.
            <br/>
            You can view my profile on linkedIn at <i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/pub/adebola-olowofela/57/728/429">LinkedIn</a>
        </p>

        <p><strong>Programming Language(s)</strong></p>
        <ul>
            <li>Python</li>
            <li>Ruby</li>
            <li>Java</li>
            <li>GoLang</li>
            <li>PHP</li>
            <li>Javascript</li>
            <li>Coffeescript</li>
            <li>Node.js</li>
        </ul>

        <p><strong>Javascript Frameworks</strong></p>
        <ul>
            <li>Backbone JS</li>
            <li>SammyJS</li>
            <li>AngularJs</li>
        </ul>

        <p><strong>PHP Frameworks</strong></p>
        <ul>
            <li>CodeIgniter</li>
            <li>Laravel</li>
            <li>Yii</li>
            <li>Symfony2 (Beginner Level)</li>
        </ul>

        <p>
            I enjoy creating new tools using open source resources, I create and consume REST API's. Contact me if you have any interesting concept or project you would love to discuss
        </p>
    </div>
    <div class="col-md-3">
        <img src="http://photos-c.ak.instagram.com/hphotos-ak-xap1/1538409_1404715919774330_1200955095_n.jpg" class="img-responsive img-thumbnail" alt=""/>
    </div>
</div>