<h3>Contact Me</h3>


<p>
    You can reach me through any of the following mediums
</p>

<ul>
    <li><i class="fa fa-yahoo"></i> Yahoo : <a href="mailto:samuel_olowofela@yahoo.com">samuel_olowofela@yahoo.com</a></li>
    <li><i class="fa fa-google"></i> Google : <a href="mailto:samcrosoft@gmail.com">samcrosoft@gmail.com</a>  </li>
    <li><i class="fa fa-twitter-square"></i> Twitter : <a href="https://twitter.com/samcrosoft">@Samcrosoft</a></li>
    <li><i class="fa fa-github"></i> Github : <a href="https://github.com/samcrosoft">Samcrosoft</a></li>
</ul>

